@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

:root {
    --bg-body: linear-gradient(to bottom, #4084fd 0%, #f1f1f1 100%);
    --bg-primary: hsl(220, 13%, 95%);
    --bg-secondary: #fff;
    --color: #797979;
    --color-title: #434343;
    --color-hover: #298cef;
    --background-color: #d1d1d1;
    --color-link: #298cef;
    --color-white: #fff;
    -color-link-hover: #434343;
    --a: #72b9ff;
    --transition-speed: 600ms;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    background: rgb(34, 177, 208);
    background: radial-gradient(circle, hsl(205, 85%, 57%) 0%, hsl(218, 98%, 62%) 100%);
}

button,
a {
    cursor: pointer;
    border: 0;
    outline: 0;
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    background: var(--bg-secondary);
    min-height: calc(100vh - 7.5rem);
    display: grid;
    grid-template-columns: 0px minmax(0, 1fr);
}

main.show-mobile-menu {
    grid-template-columns: minmax(0, 1fr) 0px;
}

main div.grid-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    overflow: hidden;
}

main nav.menu {
    position: relative;
    padding-top: 2rem;
    box-shadow: 3px 0.15rem 0.2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.5s;
}

nav.menu .navbar-nav {
    position: sticky;
    top: 2rem;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-hover);
}

.nav-item {
    width: 100%;
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    transition: var(--transition-speed);
}
.nav-link:hover {
    color: var(--color-white);
    background-color: var(--color-hover);
}

.link-text {
    margin-left: 1rem;
}

.nav-link i,
.nav-link .svg {
    margin: 0 1.5rem;
    font-size: 1.3em;
}

.svg {
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask: url(../img/api.svg) no-repeat center;
    mask: url(../img/api.svg) no-repeat 0 0;
    background-color: var(--color-link);
}

.nav-link:hover .svg {
    background-color: var(--color-white);
}

.navbar-nav .detalhes {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--a);
}

.navbar-nav .detalhes > h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--color-title);
}

.navbar-nav .detalhes .flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.5px;
}

.navbar-nav .detalhes .flex .flex-item {
    text-align: center;
}
.navbar-nav .detalhes .flex .flex-item :last-child {
    color: var(--color);
}

/* Header */
header {
    position: relative;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0.12rem 0.3rem rgba(0, 0, 0, 0.2);
    background: var(--bg-secondary);
    height: 7.5rem;
    padding-inline: 0.5rem;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.4rem;
    position: relative;
}

.mobile-menu {
    position: absolute;
    left: 5px;
    height: 2.63rem;
    width: 2.63rem;
    border-radius: 0.2rem;
    background-color: var(--a);
}

.mobile-menu > i {
    color: var(--color-white);
    font-size: 1.5rem;
}

.wrap {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem dashed #e8eaed;
    padding-top: 0.5rem;
}

.search {
    position: relative;
    flex: 1 1 auto;
}

.search label {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.search-input {
    height: 2rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    width: 100%;
    border-radius: 0.75rem;
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}
.filter {
    position: relative;
}

.filter-btn {
    height: 2rem;
    padding-inline: 1rem;
    border-radius: 0.75rem;
    margin-inline: 0.5rem;
    font-size: 0.7rem;
    background-color: var(--color-link);
    color: var(--color-white);
}

.filter-modal {
    width: 260px;
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    transform: translate(0, calc(100% + 3px));
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    transform-origin: 0 0;
    z-index: 1;
    transition: scale 0.1s ease, opacity 0.1s ease;
    background-color: var(--bg-secondary);
}

.filter-li-modal {
    width: 100%;
    height: auto;
    max-height: 15rem;
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    transform-origin: 0 0;
    z-index: 1;
    background-color: var(--bg-secondary);
    transition: scale 0.1s ease, opacity 0.1s 0.1s ease;
    opacity: 0;
    transform: scale(0);
}
.filter-li-modal > ul > li {
    position: relative;
    padding: 0.5rem;
}
.filter-li-modal > ul > li::before {
    content: "";
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    right: 0.3rem;
    font-size: 1.3em;
    color: green;
}

.filter-li-modal > ul > li.active::before {
    content: "\f058";
    position: absolute;
}

.filter-li-modal > ul > li:hover {
    background-color: var(--color-hover);
    color: var(--color-white);
}

.filter-modal > ul {
    width: 100%;
}
.filter-modal > ul > li {
    padding: 0.4rem;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
}
.filter-modal > ul > li:hover {
    background-color: var(--color-hover);
    color: var(--color-white);
}
.filter-modal > ul > li:hover .filter-li-modal {
    color: var(--color);
    transform: translateY(100%) scale(1);
    opacity: 1;
    transition: scale 0.1s ease, opacity 0.1s 0.1s ease;
}

.filter-modal > button {
    display: inline-block;
    margin: 0.4rem;
    height: 2rem;
    padding-inline: 2rem;
    background-color: var(--color-hover);
    color: var(--color-white);
}

.filter-modal > button:hover {
    filter: brightness(1.3);
}

.filter-modal > button.cancel-button {
    display: block;
    margin: 0.4rem;
    height: 2rem;
    background-color: orangered;
    color: var(--color-white);
    margin-left: auto;
}

.modal.hidden {
    transform: scale(0.5);
    opacity: 0;
    display: none;
}

.theme-checkbox {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.theme-checkbox + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 3.5rem;
    height: 2.125rem;
    background-color: var(--a);
    border-radius: 2rem;
    transition: background-color 0.4s;
    font-size: 1.3em;
    box-shadow: -5px 0 5px -2px rgba(255, 255, 255, 70%) inset, -3px 0px 3px 0px rgba(0, 0, 0, 25%);
    transition: box-shadow 0.3s;
    margin-inline: 1.5rem;
    margin-left: auto;
}

.theme-checkbox + label:before,
.theme-checkbox + label:after {
    position: absolute;
    content: "";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.theme-checkbox + label:after {
    content: "\f185";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    width: 1.625rem;
    height: 1.625rem;
    bottom: 0.25rem;
    left: 0.2rem;
    color: #fff14c;
    border-radius: 100%;
    transition: all 0.4s;
}

.theme-checkbox:checked + label {
    background-color: #ccc;
    box-shadow: 5px 0 5px -2px rgba(255, 255, 255, 70%) inset, 3px 0px 3px 0px rgba(0, 0, 0, 25%);
    transition: box-shadow 0.3s;
}

.theme-checkbox:checked + label:after {
    transform: translateX(1.625rem);
    content: "\f755";
    color: #000;
}

/* Parte de baixo de adicionar novas task */
.section-add-todo {
    position: fixed;
    width: 100%;
    bottom: 1rem;
    left: 0;
    margin-inline: auto;
    border-radius: 0.8rem;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--color-hover);
    transition: background-color 0.5s ease-in-out;
}

.section-add-todo.hidden {
    visibility: hidden;
}

.section-add-todo.bg_light {
    background-color: var(--a);
}

.section-todo-container {
    width: 100%;
    height: 100%;
}

.section-add-todo .extras {
    display: block;
    height: 0;
    transition: height 0.3s ease-in-out, clip 0.3s ease-in-out;
    clip-path: inset(0);
}

.section-add-todo .extras.active {
    height: 140px;
    transition: height 0.3s ease-in-out, clip 0.3s ease-in-out;
    clip-path: unset;
}

.section-add-todo .extras > div {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: stretch;
    align-items: stretch;
    gap: 0.5rem;
    height: 100%;
}

.section-add-todo .extras > div > * {
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-add-todo .extras .dados-iniciais {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-add-todo .extras .dados-iniciais:last-child {
    margin-left: 1rem;
}

.section-add-todo .extras .lembrete {
    color: red;
    padding: 0.3rem;
}
.section-add-todo .extras .lembrete > a {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.section-add-todo .extras .lembrete div {
    display: none;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}

.section-add-todo .extras .lembrete div > a {
    background-color: red;
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section-add-todo .extras .lembrete > div > input[type="datetime-local"] {
    border: 0;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}

.section-add-todo .extras .categorias {
    position: relative;
}

.section-add-todo .extras .categoria-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 155px;
    transform: translate(0, calc(-100% - 8px));
    border: 0.1rem solid #e8eaed;
    background-color: #fff;
    padding: 0.3rem;
    max-height: 15rem;
    overflow-y: auto;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.section-add-todo .extras .categorias .categoria-btn {
    display: inline-flex;
    justify-content: space-between;
    padding: 0.2rem;
    cursor: pointer;
    width: 100%;
}

.section-add-todo .extras .categorias .categoria-btn input {
    border: 0;
    width: auto;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
}

.extras .categoria-modal li {
    padding: 0 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
    text-transform: capitalize;
}

.extras .categoria-modal li input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #e8eaed;
    font-size: 1rem;
    text-align: left;
    width: auto;
    margin-left: 0.5rem;
}

.extras .categoria-modal li > a {
    font-size: 1.5rem;
    color: lightskyblue;
}

.extras .categoria-modal li > a:hover {
    font-size: 1.5rem;
    color: green;
}
.extras .categoria-modal li:hover {
    background-color: #e8eaed;
}

.section-add-todo .data-incial {
    display: inline-block;
}

.section-add-todo .add-task {
    width: 100%;
    padding: 0.5rem;
    position: relative;
}
.section-add-todo .add-task textarea {
    width: 100%;
    padding: 0.625rem 2.9rem 0.625rem 0.625rem;
    border-radius: 0.75rem;
    border: 0;
    resize: none;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--color-white);
    overflow: hidden;
    background-color: var(--a);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
}

.section-add-todo .add-task textarea::placeholder {
    color: var(--color-white);
}

.section-add-todo > form {
    position: relative;
}

.section-add-todo .add-task > button {
    position: absolute;
    right: 0.6rem;
    top: 1rem;
    color: white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #5eb075;
    background-image: linear-gradient(hsl(137, 34%, 65%), #5eb075);
    box-shadow: 0 2px 5px #aaa, 0 0 3px #aaa, inset 0 2px 3px rgba(255, 255, 255, 0.5),
        inset 0 -2px 3px rgba(0, 0, 0, 0.3);
}

.section-add-todo .add-task > button:hover {
    filter: brightness(1.2);
    color: darkgreen;
}

.section-add-todo .data-incial input {
    border: 0;
    font-size: 1rem;
    width: auto;
    background-color: transparent;
}

.section-add-todo .add-task button i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

/* Local onde as task ficam */
.todo-container {
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    gap: 3ch;
    padding-bottom: 6rem;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

/* Task cards */
.task {
    position: relative;
    user-select: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    border-radius: 0.75rem;
    width: 100%;
    max-width: 800px;
    padding: 0.5rem;
}

.task .title-task {
    word-wrap: break-word;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
}

.task.tachado {
    text-decoration: line-through;
}

.task .check {
    position: absolute;
    left: 0.85rem;
    top: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.4s;
}

.task .check:checked {
    background-color: rgb(50, 205, 50);
    box-shadow: 0 0 0 2px rgba(50, 205, 50, 0.6);
}

.task .check::before {
    content: "";
}

.task .check:checked::before {
    content: "\2713";
    font-family: "Font Awesome 5 Pro";
    font-size: 1.3em;
    font-weight: 900;
    height: 1.5rem;
    width: 1.5rem;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.task .check:hover::before {
    content: "\2713";
    font-family: "Font Awesome 5 Pro";
    font-size: 1.3em;
    font-weight: 900;
    height: 1.5rem;
    width: 1.5rem;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
.task .check:checked:hover::before {
    color: #fff;
}

.task .check:checked + p {
    text-decoration: line-through;
}

.task .check i {
    font-size: 1.5em;
}

.task p {
    text-indent: 2.5rem;
}

.task .task-lembrete {
    text-align: right;
}

.task .task-lembrete > span {
    display: inline-flex;
    align-items: center;
    box-shadow: rgba(154, 160, 166, 0.54) 0px 0px 0px 1px inset;
    border-radius: 12px;
    font-size: 11px;
    letter-spacing: 0.25px;
    color: var(--color);
    padding: 3px 5px;
}

.task .task-lembrete > span > i {
    font-size: 1.1em;
    margin-right: 0.3rem;
}

.task .options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.7rem;
    border-top: solid 1px #ccc;
    padding-top: 0.3rem;
    color: var(--color);
    font-size: 0.8em;
}

#todoContainer > div > div.options > span:nth-child(2) {
    white-space: pre;
}

.task .options .delete-button i {
    font-size: 1.2em;
}

.fal.fa-tags {
    transform: rotateY(180deg);
}

.task .options .options-buttons {
    justify-self: right;
}
.task .options .delete-button {
    background-color: transparent;
    border: 1px solid var(--color);
    padding: 0.5rem;
    color: red;
    border-radius: 0.5rem;
}

/* media large screen */
@media screen and (min-width: 945px) {
    body {
        overflow: auto;
    }
    main {
        grid-template-columns: minmax(18.75rem, 23rem) minmax(28.75rem, 1fr);
    }

    main.show-mobile-menu {
        grid-template-columns: minmax(18.75rem, 23rem) minmax(28.75rem, 1fr);
    }

    .section-add-todo.hidden {
        visibility: visible;
    }

    .section-add-todo {
        max-width: 780px;
    }

    .section-add-todo .extras.active {
        height: 90px;
    }

    .task .options {
        padding: 0.3rem 0.6rem;
        padding-bottom: 0;
    }

    .mobile-menu {
        display: none;
    }


    .filter-modal > ul > li:hover .filter-li-modal {
        top: 0;
        bottom: auto;
        left: -100%;
        transform: translateY(0) scale(1);
    }
}

@media screen and (min-width: 445px) {
    .filter-btn {
        font-size: 1.2rem;
    }
}
